parameters:
	ignoreErrors:
		-
			message: '#^Property Yokai\\SecurityTokenBundle\\Entity\\Token\:\:\$id is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Token.php

		-
			message: '#^Property Yokai\\SecurityTokenBundle\\Entity\\TokenUsage\:\:\$id is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/TokenUsage.php

